<!DOCTYPE html>
<html>
  <head>
    <title>SievesDummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script src="http://127.0.0.1:8000/dist/sieves-js.js"></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
